*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: rgba(99, 99, 98, 0.87);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.button{
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.button:hover{
    filter: brightness(0.8);
}
.button:active{
    transform: translateY(1px);
}
.person-selector button{
    padding: 0.6rem 4rem;
}
.person-selector{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 1rem auto 1rem;
}
.person-selector-button{
    width: 100%;
    background-color: #033c57;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 540;
}
.active-person{
    background: #11a7ec;
    box-shadow: 0 0 0.3rem 0.1rem #eeeaea;
}
.chat-container{
    display: flex;
    flex-direction: column;
    background-color: #333;
    font-family: 'Roboto',sans-serif;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: auto;
    width: 40rem;
    height:37rem;
    box-shadow: 0 0 0.3rem 0.2rem rgb(91, 92, 91);
}
.chat-header{
    margin-bottom: 1rem;
}
.chat-header {
    font-size: 1.3rem;
}
.chat-messages{
    flex: 1;
    height:fit-content;
    overflow-y: scroll;
}
.chat-messages::-webkit-scrollbar{
    display: none;
}
.message{
    max-width: 90%;
    padding: 0.4rem;
    border-radius: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.message-sender{
    font-size: 1.1rem;
    font-weight: 550;
    margin-bottom: 0.3rem;
    color: #ecebf0;
}
.message-text{
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    word-wrap: break-word;
}
.message-timestamp{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.8rem;
    text-align: right;
}
.blue-bg{
    background-color: #11a7ec;
    width: 70%;
    max-width: fit-content;

}
.gray-bg{
    background-color: #033c57;
    width: 70%;
    max-width: fit-content;

}
.chat-input-form{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 0.5rem;
    
}
.chat-input{
    padding: 0.7rem;
    border-radius:0.5rem;
    background-color: #dfdada;
    color: #333;
    font-size: 1rem;
    flex-grow: 1;
}
.send-button{

    background-color: #10b610;
    font-size: 1rem;
    font-weight: 540;
}
.clear-chat-button{
    display: block;
    margin: 1rem auto;
    background-color: rgba(255, 0, 0, 0.911);
    font-size: 1rem;
    font-weight: 540;
}



@media (max-width:768px) {
    .chat-container{
        width: 25rem;
        margin-top: 1rem;
        height: 80vh;
    }
    .chat-header{
        font-size: 1.15rem;
        font-weight: 800;
    }
    .message{
        padding: 0.3rem;
    }
    .message-text{
        font-size: 0.9rem;
    }
    .person-selector button{
        padding: 0.6rem 2.5rem;
    }
    .send-button,
    .clear-chat-button{
        font-size: 0.9rem;
    }
    
}